{% extends 'UltimateGameBundle:Default:base.html.twig' %}
{% import "::base.html.twig" as macros %}

{% block title %}Find a Game &ndash; {{ parent() }}{% endblock title %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}
	<div class="row-fluid">
		<h2 class="">Find a Game</h2>
	</div>
	<div class="row-fluid">
		<form id="custom-search-form" class="span4 form-search form-horizontal" action="{{ path('get_games') }}" method="get" class="clearfix">
			<div class="input-append span12">
				<input type="text" class="span12 search-query" placeholder="Search" name="s">
				<button type="submit" class="btn"><i class="icon-search"></i></button>
			</div>
		</form>
	</div>
	<div class="row-fluid">
	{% set iterator = 0 %}
	{% for game in games %}
		{% if (loop.index0 % 3) == 0 and loop.first == false %}
	</div>
	<div class="row-fluid">
		{% endif %}
		{% set iterator = 0 %}
		<div class="game span4 {% if game.date|date("U") < "-2 hours"|date("U") %}disabled{% endif %}">
			<h4>{{ game.title }}</h4>
			<p>
				<a id="game_map_link" target="_blank" href="https://maps.google.com/maps?z=12&daddr={{ game.location }}">
					<img id="game_map" class="span12" src="http://maps.googleapis.com/maps/api/staticmap?center={{ game.location }}&zoom=12&size=400x150&maptype=roadmap&markers=color:blue%7Clabel:G%7C{{ game.location }}&sensor=false" /><br>
					<div class="row-fluid"><div class="span6 text-left">{{ game.location }}</div><div class="span6 text-right">{{ game.date|date("F jS \\a\\t g:ia") }}</div></div>
				</a>
			</p>
			{{ macros.gamecontrols(game) }}
		</div>
		{% set iterator = iterator + 1 %}
	{% endfor %}
	</div>
{% endblock content %}
