{% extends 'UltimateGameBundle:Default:base.html.twig' %}
{% import "::base.html.twig" as macros %}

{% block title %}{{ games.0.title|default("View Game")|capitalize }} &ndash; {{ parent() }}{% endblock title %}

{% block jumbotron %}
{% endblock jumbotron %}

{% block content %}

	{% for game in games %}
	<div class="game">
		<div class="row-fluid">
			<h2 class="game-title span12">{{ game.title }}</h2>
		</div>
		<div class="row-fluid">
			<form class="well span12" action="/app_dev.php/games" method="post">
				<div class="span4">
					<label class="game-title"><strong>Title</strong></label>
					<p class="span12">{{ game.title|capitalize }}</p>

					<label class="game-location"><strong>Location</strong></label>
					<p class="span12">{{ game.location }}</p>

					<label class="game-date"><strong>Date</strong></label>
					<p class="span12">{{ game.date|date("F jS \\a\\t g:ia") }}</p>

					<label class="game-info"><strong>Info</strong></label>
					<p class="span12">{{ game.info|e }}</p>

					<label class="game-players"><strong>Going</strong></label>
					<p class="span12">
						{% for player in game.getPlayers %}
							{{ player.name|default("Anon")|trim() }}{% if loop.last == false %},{% endif %}
						{% endfor %}
					</p>

					{{ macros.playercontrols(game) }}
				</div>
				<div class="span8">
					<label>&nbsp;</label>
					<a id="game_map_link" target="_blank" href="https://maps.google.com/maps?z=14&daddr={{ game.location }}">
						<img id="game_map" class="span12" src="http://maps.googleapis.com/maps/api/staticmap?center={{ game.location }}&zoom=14&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:G%7C{{ game.location }}&sensor=false" />
					</a>
				</div>
			</form>
			{% if game.originIp == app.request.server.get("REMOTE_ADDR") %}
				<!-- <small class="muted">(<a class="game-controls-edit" href="{{ path('edit_game', {'gId': game.id}) }}">edit</a>)</small> -->
			{% endif %}
		</div>
	</div>
	{% endfor %}
{% endblock content %}
