<h2>Ultimatefris.be Game Update!</h2>

<p>There is a new game at a field you have played at before!</p>
<p>"<a href="{{ url('get_game', {gId: game.id} ) }}">{{ game.title }}</a>" is at {{ game.location }} on {{ game.date|date("F jS \\a\\t g:ia") }}, why not join in?</p>
<p>{{ url('get_game', {gId: game.id} ) }}</p>